In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("t20i_info.csv")

In [3]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

In [4]:
df.isnull().sum()

Unnamed: 0             0
match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8548
venue                  0
dtype: int64

In [5]:
df.shape

(63888, 9)

In [6]:
df['city']=df['city'].fillna(df['venue'].apply(lambda x:x.split(' ')[0]))

In [7]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground

In [11]:
df.shape

(63888, 9)

In [9]:
df.shape

(63888, 9)

In [10]:
df.isnull().sum()

Unnamed: 0          0
match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [12]:
df['city'].value_counts()

city
Colombo          4086
Mirpur           3420
Johannesburg     3331
Dubai            2969
Auckland         2532
                 ...
Nairobi           123
Potchefstroom     122
Dharamsala        122
Ahmedabad         121
Carrara            64
Name: count, Length: 86, dtype: int64

In [13]:
eligible_cities=df['city'].value_counts()[df['city'].value_counts()>600].index.tolist()

In [14]:
eligible_cities

['Colombo',
 'Mirpur',
 'Johannesburg',
 'Dubai',
 'Auckland',
 'Cape Town',
 'London',
 'Pallekele',
 'Barbados',
 'Sydney',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Lauderhill',
 'Hamilton',
 'Centurion',
 'Manchester',
 'Abu Dhabi',
 'Mumbai',
 'Nottingham',
 'Southampton',
 'Mount Maunganui',
 'Chittagong',
 'Kolkata',
 'Lahore',
 'Delhi',
 'Nagpur',
 'Chandigarh',
 'Adelaide',
 'Bangalore',
 'St Kitts',
 'Cardiff',
 'Christchurch',
 'Trinidad']

In [15]:
df=df[df['city'].isin(eligible_cities)]

In [16]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground

In [17]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [26]:
df['current_runs']=df.groupby('match_id')['runs'].cumsum()

In [27]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3

In [28]:
df['over']=df['ball'].apply(lambda x : str(x).split(".")[0])

In [29]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs,over
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0

In [31]:
df['ball_no']=df['ball'].apply(lambda x : str(x).split(".")[1])

In [32]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs,over,ball_no
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5

In [33]:
df['ball_bowled']=(df['over'].astype(int)*6+df['ball_no'].astype(int))

In [34]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs,over,ball_no,ball_bowled
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5

In [35]:
df['balls_left']=120-df['ball_bowled']

In [36]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs,over,ball_no,ball_bowled,balls_left
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,19,3,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,19,4,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,19,5,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,19,6,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,19,7,121,-1

In [37]:
df['balls_left']=df['balls_left'].apply(lambda x:0 if x<0 else x)

In [38]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs,over,ball_no,ball_bowled,balls_left
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,19,3,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,19,4,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,19,5,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,19,6,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,19,7,121,0

In [39]:
df['player_dismissed']=df['player_dismissed'].apply(lambda x:1 if x!='0' else '0')

In [40]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs,over,ball_no,ball_bowled,balls_left
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,19,3,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,19,4,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,1,Colombo,R Premadasa Stadium,125,19,5,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,19,6,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,19,7,121,0

In [41]:
df['player_dismissed']=df['player_dismissed'].astype(int)

In [43]:
df['player_dismissed']=df.groupby('match_id')['player_dismissed'].cumsum()

In [44]:
df

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs,over,ball_no,ball_bowled,balls_left
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0

In [45]:
df['wicket_left']=10-df['player_dismissed']

In [46]:
df

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs,over,ball_no,ball_bowled,balls_left,wicket_left
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119,10
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118,10
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117,10
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116,10
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3,2
63884,122,964,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2,2
63885,123,964,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1,1
63886,124,964,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0,1
63887,125,964,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0,1

In [50]:
df['current_run_rate']=(df['current_runs']*6) / df['ball_bowled']

In [51]:
df

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs,over,ball_no,ball_bowled,balls_left,wicket_left,current_run_rate
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119,10,0.000000
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118,10,0.000000
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117,10,2.000000
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116,10,4.500000
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5,115,10,3.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3,2,6.410256
63884,122,964,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2,2,6.355932
63885,123,964,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1,1,6.302521
63886,124,964,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0,1,6.350000
63887,125,964,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0,1,6.347107

In [53]:
groups=df.groupby('match_id')
match_id=df['match_id'].unique()
last_five=[]
for id in match_id:
    last_five.extend(groups.get_group(id).rolling(window=30)['runs'].sum().values.tolist())

In [54]:
df['last_five']=last_five

In [55]:
df

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_runs,over,ball_no,ball_bowled,balls_left,wicket_left,current_run_rate,last_five
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119,10,0.000000,NaN
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118,10,0.000000,NaN
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117,10,2.000000,NaN
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116,10,4.500000,NaN
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3,2,6.410256,32.0
63884,122,964,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2,2,6.355932,32.0
63885,123,964,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1,1,6.302521,32.0
63886,124,964,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0,1,6.350000,33.0
63887,125,964,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0,1,6.347107,32.0

In [56]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 43.0,
 44.0,
 45.0,
 44.0,
 42.0,
 43.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 37.0,
 41.0,
 42.0,
 42.0,
 44.0,
 44.0,
 40.0,
 39.0,
 37.0,
 35.0,
 31.0,
 27.0,
 26.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 36.0,
 37.0,
 37.0,
 39.0,
 41.0,
 40.0,
 41.0,
 41.0,
 42.0,
 44.0,
 39.0,
 43.0,
 45.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 49.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 54.0,
 53.0,
 52.0,
 50.0,
 53.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 46.0,
 52.0,
 53.0,
 57.0,
 58.0,
 59.0,
 59.0,
 59.0,
 53.0,
 53.0,
 54.0,
 50.0,
 50.0,
 49.0,
 50.0,
 47.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 51.0,
 48.0,
 48.0,
 48.0,
 44.0,
 45.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 36.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 39.0,
 41.0,
 40.0,
 40.0,
 39.0,
 38.0,
 39.0,
 42.0,
 47.0,
 42.0,
 45.0,
 45.0,
 49.0,
 49.0,
 48.0,
 47.0,
 45.0,
 45.0,
 45.0,
 40.0,
 41.0,
 41.0,
 42.0,
 37.0,
 38.0,
 39.0,
 43.0,
 46.0,
 47.0,
 47.0,
 46.0,
 50.0,
 56.0,
 57.0,
 60.0,
 59.0,
 59.0,
 55.0,
 51.0,
 51.0,
 51.0,
 53.0,
 51.0,
 51.0,
 52.0,
 53.0,
 54.0,
 53.0,
 54.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 42.0,
 42.0,
 43.0,
 42.0,
 42.0,
 43.0,
 40.0,
 40.0,
 37.0,
 33.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 37.0,
 34.0,
 39.0,
 35.0,
 36.0,
 36.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 34.0,
 35.0,
 41.0,
 43.0,
 41.0,
 42.0,
 43.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 47.0,
 50.0,
 51.0,
 52.0,
 57.0,
 53.0,
 58.0,
 61.0,
 59.0,
 65.0,
 68.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 74.0,
 73.0,
 68.0,
 67.0,
 66.0,
 66.0,
 66.0,
 70.0,
 70.0,
 71.0,
 71.0,
 72.0,
 74.0,
 69.0,
 65.0,
 66.0,
 64.0,
 59.0,
 58.0,
 53.0,
 50.0,
 48.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 41.0,
 42.0,
 40.0,
 40.0,
 41.0,
 40.0,
 41.0,
 40.0,
 40.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 36.0,
 36.0,
 35.0,
 35.0,
 32.0,
 32.0,
 32.0,
 31.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 32.0,
 31.0,
 31.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 28.0,
 25.0,
 21.0,
 20.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 20.0,
 21.0,
 25.0,
 26.0,
 27.0,
 28.0,
 34.0,
 34.0,
 34.0,
 35.0,
 38.0,
 40.0,
 44.0,
 45.0,
 45.0,
 45.0,
 46.0,
 51.0,
 54.0,
 53.0,
 53.0,
 53.0,
 56.0,
 56.0,
 59.0,
 64.0,
 70.0,
 70.0,
 71.0,
 69.0,
 67.0,
 67.0,
 63.0,
 62.0,
 62.0,
 67.0,
 67.0,
 72.0,
 73.0,
 71.0,
 68.0,
 68.0,
 65.0,
 68.0,
 68.0,
 74.0,
 73.0,
 69.0,
 66.0,
 68.0,
 74.0,
 74.0,
 71.0,
 76.0,
 73.0,
 68.0,
 62.0,
 67.0,
 68.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 41.0,
 42.0,
 39.0,
 43.0,
 44.0,
 47.0,
 51.0,
 51.0,
 48.0,
 44.0,
 44.0,
 45.0,
 46.0,
 47.0,
 49.0,
 49.0,
 50.0,
 52.0,
 54.0,
 54.0,
 54.0,
 55.0,
 54.0,
 60.0,
 61.0,
 56.0,
 58.0,
 58.0,
 54.0,
 56.0,
 57.0,
 56.0,
 55.0,
 52.0,
 51.0,
 48.0,
 45.0,
 46.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 43.0,
 43.0,
 45.0,
 44.0,
 47.0,
 47.0,
 46.0,
 49.0,
 44.0,
 43.0,
 46.0,
 40.0,
 38.0,
 44.0,
 39.0,
 39.0,
 40.0,
 41.0,
 40.0,
 46.0,
 45.0,
 45.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 47.0,
 50.0,
 50.0,
 50.0,
 55.0,
 52.0,
 51.0,
 53.0,
 53.0,
 53.0,
 50.0,
 49.0,
 50.0,
 46.0,
 46.0,
 50.0,
 44.0,
 43.0,
 44.0,
 43.0,
 46.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 33.0,
 33.0,
 36.0,
 36.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 29.0,
 23.0,
 23.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 27.0,
 27.0,
 23.0,
 24.0,
 25.0,
 27.0,
 27.0,
 28.0,
 29.0,
 26.0,
 27.0,
 26.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 27.0,
 27.0,
 26.0,
 28.0,
 28.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 29.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 38.0,
 39.0,
 37.0,
 38.0,
 38.0,
 38.0,
 37.0,
 38.0,
 40.0,
 43.0,
 49.0,
 50.0,
 51.0,
 47.0,
 46.0,
 52.0,
 48.0,
 49.0,
 49.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 38.0,
 39.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 42.0,
 43.0,
 39.0,
 38.0,
 35.0,
 36.0,
 36.0,
 40.0,
 35.0,
 38.0,
 38.0,
 42.0,
 41.0,
 42.0,
 41.0,
 41.0,
 41.0,
 46.0,
 43.0,
 42.0,
 41.0,
 43.0,
 43.0,
 42.0,
 41.0,
 44.0,
 47.0,
 48.0,
 49.0,
 52.0,
 49.0,
 48.0,
 52.0,
 53.0,
 53.0,
 58.0,
 58.0,
 58.0,
 61.0,
 58.0,
 59.0,
 55.0,
 57.0,
 57.0,
 57.0,
 61.0,
 61.0,
 55.0,
 58.0,
 59.0,
 61.0,
 56.0,
 56.0,
 57.0,
 58.0,
 54.0,
 51.0,
 54.0,
 53.0,
 51.0,
 52.0,
 53.0,
 50.0,
 49.0,
 48.0,
 43.0,
 48.0,
 48.0,
 44.0,
 43.0,
 48.0,
 48.0,
 45.0,
 44.0,
 43.0,
 41.0,
 43.0,
 45.0,
 47.0,
 47.0,
 45.0,
 45.0,
 44.0,
 43.0,
 42.0,
 42.0,
 42.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 37.0,
 37.0,
 36.0,
 36.0,
 37.0,
 40.0,
 40.0,
 41.0,
 42.0,
 39.0,
 39.0,
 42.0,
 43.0,
 44.0,
 44.0,
 44.0,
 42.0,
 41.0,
 41.0,
 41.0,
 35.0,
 31.0,
 30.0,
 29.0,
 27.0,
 27.0,
 23.0,
 23.0,
 24.0,
 29.0,
 29.0,
 28.0,
 28.0,
 28.0,
 29.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 30.0,
 29.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 37.0,
 41.0,
 41.0,
 42.0,
 46.0,
 47.0,
 48.0,
 47.0,
 47.0,
 41.0,
 41.0,
 41.0,
 41.0,
 42.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 37.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 33.0,
 33.0,
 38.0,
 36.0,
 35.0,
 34.0,
 35.0,
 36.0,
 37.0,
 36.0,
 36.0,
 36.0,
 35.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [57]:
final_df=df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [58]:
final_df

,match_id,runs_x,Unnamed: 0,batting_team,bowling_team,ball,runs_y,player_dismissed,city,venue,current_runs,over,ball_no,ball_bowled,balls_left,wicket_left,current_run_rate,last_five
0,2,168,0,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119,10,0.000000,NaN
1,2,168,1,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118,10,0.000000,NaN
2,2,168,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117,10,2.000000,NaN
3,2,168,3,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116,10,4.500000,NaN
4,2,168,4,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50496,964,128,121,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3,2,6.410256,32.0
50497,964,128,122,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2,2,6.355932,32.0
50498,964,128,123,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1,1,6.302521,32.0
50499,964,128,124,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0,1,6.350000,33.0
50500,964,128,125,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0,1,6.347107,32.0

In [60]:
final_df=final_df[['batting_team','bowling_team','city','current_runs','balls_left','wicket_left','current_run_rate','last_five','runs_x']]

In [61]:
final_df.dropna(inplace=True)

C:\Users\GREGAN\AppData\Local\Temp\ipykernel_51940\2709626079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [62]:
final_df

,batting_team,bowling_team,city,current_runs,balls_left,wicket_left,current_run_rate,last_five,runs_x
29,Australia,Sri Lanka,Melbourne,43,90,10,8.600000,43.0,168
30,Australia,Sri Lanka,Melbourne,44,89,10,8.516129,44.0,168
31,Australia,Sri Lanka,Melbourne,45,88,10,8.437500,45.0,168
32,Australia,Sri Lanka,Melbourne,45,87,10,8.181818,44.0,168
33,Australia,Sri Lanka,Melbourne,45,86,10,7.941176,42.0,168
...,...,...,...,...,...,...,...,...,...
50496,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
50497,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
50498,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
50499,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
50500,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [63]:
final_df.isnull().sum()

batting_team        0
bowling_team        0
city                0
current_runs        0
balls_left          0
wicket_left         0
current_run_rate    0
last_five           0
runs_x              0
dtype: int64

In [64]:
final_df.shape

(38477, 9)

In [65]:
final_df=final_df.sample(final_df.shape[0])

In [66]:
final_df.shape

(38477, 9)

In [67]:
x=final_df.drop(columns=['runs_x'])
y=final_df['runs_x']

In [68]:
x

,batting_team,bowling_team,city,current_runs,balls_left,wicket_left,current_run_rate,last_five
9735,South Africa,England,Centurion,137,39,7,10.148148,49.0
3282,Afghanistan,West Indies,St Kitts,40,71,7,4.897959,19.0
47426,Pakistan,India,Kolkata,60,51,8,5.217391,30.0
30806,Pakistan,England,Dubai,73,54,5,6.636364,24.0
29384,Australia,South Africa,Johannesburg,135,4,3,6.982759,43.0
...,...,...,...,...,...,...,...,...
24489,Pakistan,England,Barbados,41,85,9,7.028571,30.0
28100,Pakistan,South Africa,Abu Dhabi,69,41,5,5.240506,27.0
42278,South Africa,West Indies,Durban,96,60,10,9.600000,39.0
5159,India,South Africa,Centurion,66,66,7,7.333333,22.0
17446,Bangladesh,Pakistan,Cape Town,51,83,9,8.270270,37.0

In [69]:
y

9735     222
3282     110
47426    118
30806    144
29384    147
        ...
24489    147
28100    120
42278    195
5159     188
17446    140
Name: runs_x, Length: 38477, dtype: int64

In [70]:
from sklearn.model_selection import train_test_split

In [86]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [72]:
x_train

,batting_team,bowling_team,city,current_runs,balls_left,wicket_left,current_run_rate,last_five
33133,West Indies,New Zealand,Pallekele,61,81,7,9.384615,47.0
42705,England,Australia,Cardiff,172,8,6,9.214286,58.0
33178,West Indies,New Zealand,Pallekele,102,37,4,7.373494,26.0
16362,Bangladesh,Australia,Cape Town,82,41,7,6.227848,31.0
30583,West Indies,England,London,68,30,6,4.533333,24.0
...,...,...,...,...,...,...,...,...
26384,Bangladesh,New Zealand,Hamilton,52,61,5,5.288136,21.0
23938,Pakistan,Bangladesh,St Lucia,144,23,9,8.907216,52.0
36583,Sri Lanka,Australia,Melbourne,122,17,6,7.106796,46.0
46088,New Zealand,Pakistan,Wellington,57,85,10,9.771429,47.0
1057,India,England,Bangalore,85,52,8,7.500000,31.0

In [87]:
x_test

,batting_team,bowling_team,city,current_runs,balls_left,wicket_left,current_run_rate,last_five
30972,England,Pakistan,Dubai,134,11,4,7.376147,34.0
27605,Australia,England,Adelaide,86,60,9,8.600000,49.0
6645,South Africa,Pakistan,Johannesburg,73,55,9,6.738462,30.0
24570,Pakistan,England,Barbados,124,8,3,6.642857,26.0
46700,South Africa,Sri Lanka,Cape Town,115,34,8,8.023256,40.0
...,...,...,...,...,...,...,...,...
16973,Sri Lanka,Bangladesh,Johannesburg,75,50,7,6.428571,30.0
27397,Pakistan,England,Dubai,99,24,5,6.187500,41.0
8271,New Zealand,Sri Lanka,Auckland,56,58,5,5.419355,25.0
6204,Sri Lanka,Bangladesh,Colombo,108,26,5,6.893617,50.0
49654,Pakistan,India,Mirpur,71,28,2,4.630435,22.0

In [95]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [76]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.0-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\gregan\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\gregan\anaconda3\lib\site-packages (from xgboost) (1.13.1)
Downloading xgboost-2.1.0-py3-none-win_amd64.whl (124.9 MB)
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/124.9 MB 330.3 kB/s eta 0:06:19
   ---------------------------------------- 0.1/124.9 MB 525.1 kB/s eta 0:03:58
   ---------------------------------------- 0.2/124.9 MB 1.7 MB/s eta 0:01:13
   ---------------------------------------- 0.6/124.9 MB 3.2 MB/s eta 0:00:40
   ---------------------------------------- 0.9/124.9 MB 3.9 MB/s eta 0:00:32
   ---------------------------------------- 1.2/124.9 MB 4.7 MB/s eta 0:00:27
    --------------------------------------- 1.6/124.9 MB 5.2 MB/s eta 0:00:24
    --------------------------------------- 2.0/124.9 MB 5.4 MB/s eta 0:00:23
    --------------------------------------- 2.3/124.9 MB 5.8 MB/s eta 0:00:22
    --------------------------------------- 2.7/124.9 MB 5.9 MB/s eta 0:00:21
    --------------------------------------- 3.0/124.9 MB 6.1 MB/s eta 0:00:21
   - -------------------------------------- 3.4/124.9 MB 6.3 MB/s eta 0:00:20
   - -------------------------------------- 3.7/124.9 MB 6.4 MB/s eta 0:00:20
   - -------------------------------------- 4.1/124.9 MB 6.4 MB/s eta 0:00:19
   - -------------------------------------- 4.4/124.9 MB 6.4 MB/s eta 0:00:19
   - -------------------------------------- 4.8/124.9 MB 6.7 MB/s eta 0:00:18
   - -------------------------------------- 5.2/124.9 MB 6.6 MB/s eta 0:00:19
   - -------------------------------------- 5.5/124.9 MB 6.7 MB/s eta 0:00:18
   - -------------------------------------- 5.8/124.9 MB 6.7 MB/s eta 0:00:18
   - -------------------------------------- 6.2/124.9 MB 6.8 MB/s eta 0:00:18
   -- ------------------------------------- 6.5/124.9 MB 6.8 MB/s eta 0:00:18
   -- ------------------------------------- 6.9/124.9 MB 6.9 MB/s eta 0:00:18
   -- ------------------------------------- 7.2/124.9 MB 6.9 MB/s eta 0:00:18
   -- ------------------------------------- 7.5/124.9 MB 6.9 MB/s eta 0:00:18
   -- ------------------------------------- 7.9/124.9 MB 6.9 MB/s eta 0:00:17
   -- ------------------------------------- 8.0/124.9 MB 6.7 MB/s eta 0:00:18
   -- ------------------------------------- 8.1/124.9 MB 6.7 MB/s eta 0:00:18
   -- ------------------------------------- 8.4/124.9 MB 6.6 MB/s eta 0:00:18
   -- ------------------------------------- 8.8/124.9 MB 6.6 MB/s eta 0:00:18
   -- ------------------------------------- 8.8/124.9 MB 6.4 MB/s eta 0:00:19
   --- ------------------------------------ 9.4/124.9 MB 6.6 MB/s eta 0:00:18
   --- ------------------------------------ 9.9/124.9 MB 6.8 MB/s eta 0:00:18
   --- ------------------------------------ 10.4/124.9 MB 7.2 MB/s eta 0:00:16
   --- ------------------------------------ 10.8/124.9 MB 7.4 MB/s eta 0:00:16
   --- ------------------------------------ 11.1/124.9 MB 7.4 MB/s eta 0:00:16
   --- ------------------------------------ 11.6/124.9 MB 7.4 MB/s eta 0:00:16
   --- ------------------------------------ 11.8/124.9 MB 7.4 MB/s eta 0:00:16
   --- ------------------------------------ 12.2/124.9 MB 7.4 MB/s eta 0:00:16
   ---- ----------------------------------- 12.6/124.9 MB 7.4 MB/s eta 0:00:16
   ---- ----------------------------------- 13.1/124.9 MB 7.4 MB/s eta 0:00:16
   ---- ----------------------------------- 13.4/124.9 MB 7.4 MB/s eta 0:00:15
   ---- ----------------------------------- 13.9/124.9 MB 7.5 MB/s eta 0:00:15
   ---- ----------------------------------- 14.3/124.9 MB 7.5 MB/s eta 0:00:15
   ---- ----------------------------------- 14.5/124.9 MB 7.6 MB/s eta 0:00:15
   ---- ----------------------------------- 14.9/124.9 MB 7.5 MB/s eta 0:00:15
   ---- ----------------------------------- 15.3/124.9 MB 7.5 MB/s eta 0:00:15
   ----- ---------------------------------- 15.8/124.9 MB 7.6 MB/s eta 0:00:15
   ----- ---------------------------------- 16.2/124.9 MB 7.7 MB/s eta 0:00:15
   ----- ---------------------------------- 16.5/124.9 MB 7.6 MB/s eta 0:00:15
   ----- ---------------------------------- 16.9/124.9 MB 7.7 MB/s eta 0:00:15
   ----- ---------------------------------- 17.3/124.9 MB 7.7 MB/s eta 0:00:14
   ----- ---------------------------------- 17.7/124.9 MB 7.8 MB/s eta 0:00:14
   ----- ---------------------------------- 18.1/124.9 MB 7.8 MB/s eta 0:00:14
   ----- ---------------------------------- 18.5/124.9 MB 8.3 MB/s eta 0:00:13
   ------ --------------------------------- 18.9/124.9 MB 8.4 MB/s eta 0:00:13
   ------ --------------------------------- 19.3/124.9 MB 8.6 MB/s eta 0:00:13
   ------ --------------------------------- 19.6/124.9 MB 8.5 MB/s eta 0:00:13
   ------ --------------------------------- 19.7/124.9 MB 8.4 MB/s eta 0:00:13
   ------ --------------------------------- 19.9/124.9 MB 8.1 MB/s eta 0:00:13
   ------ --------------------------------- 20.3/124.9 MB 8.0 MB/s eta 0:00:14
   ------ --------------------------------- 20.3/124.9 MB 8.0 MB/s eta 0:00:14
   ------ --------------------------------- 20.3/124.9 MB 8.0 MB/s eta 0:00:14
   ------ --------------------------------- 20.3/124.9 MB 7.3 MB/s eta 0:00:15
   ------ --------------------------------- 21.6/124.9 MB 7.8 MB/s eta 0:00:14
   ------- -------------------------------- 21.9/124.9 MB 7.7 MB/s eta 0:00:14
   ------- -------------------------------- 22.3/124.9 MB 7.8 MB/s eta 0:00:14
   ------- -------------------------------- 22.7/124.9 MB 7.8 MB/s eta 0:00:14
   ------- -------------------------------- 23.0/124.9 MB 7.7 MB/s eta 0:00:14
   ------- -------------------------------- 23.3/124.9 MB 7.7 MB/s eta 0:00:14
   ------- -------------------------------- 23.6/124.9 MB 7.5 MB/s eta 0:00:14
   ------- -------------------------------- 24.0/124.9 MB 7.5 MB/s eta 0:00:14
   ------- -------------------------------- 24.4/124.9 MB 7.5 MB/s eta 0:00:14
   ------- -------------------------------- 24.7/124.9 MB 7.5 MB/s eta 0:00:14
   -------- ------------------------------- 25.2/124.9 MB 7.6 MB/s eta 0:00:14
   -------- ------------------------------- 25.5/124.9 MB 7.6 MB/s eta 0:00:14
   -------- ------------------------------- 25.9/124.9 MB 7.5 MB/s eta 0:00:14
   -------- ------------------------------- 26.3/124.9 MB 7.5 MB/s eta 0:00:14
   -------- ------------------------------- 26.7/124.9 MB 7.5 MB/s eta 0:00:14
   -------- ------------------------------- 27.0/124.9 MB 7.5 MB/s eta 0:00:14
   -------- ------------------------------- 27.4/124.9 MB 7.5 MB/s eta 0:00:13
   -------- ------------------------------- 27.8/124.9 MB 7.5 MB/s eta 0:00:13
   --------- ------------------------------ 28.1/124.9 MB 7.4 MB/s eta 0:00:14
   --------- ------------------------------ 28.6/124.9 MB 7.4 MB/s eta 0:00:13
   --------- ------------------------------ 29.0/124.9 MB 7.5 MB/s eta 0:00:13
   --------- ------------------------------ 29.3/124.9 MB 7.4 MB/s eta 0:00:13
   --------- ------------------------------ 29.6/124.9 MB 7.5 MB/s eta 0:00:13
   --------- ------------------------------ 30.1/124.9 MB 7.8 MB/s eta 0:00:13
   --------- ------------------------------ 30.2/124.9 MB 7.7 MB/s eta 0:00:13
   --------- ------------------------------ 30.7/124.9 MB 8.5 MB/s eta 0:00:12
   --------- ------------------------------ 31.1/124.9 MB 8.3 MB/s eta 0:00:12
   ---------- ----------------------------- 31.5/124.9 MB 8.0 MB/s eta 0:00:12
   ---------- ----------------------------- 31.9/124.9 MB 8.0 MB/s eta 0:00:12
   ---------- ----------------------------- 32.2/124.9 MB 8.0 MB/s eta 0:00:12
   ---------- ----------------------------- 32.6/124.9 MB 8.0 MB/s eta 0:00:12
   ---------- ----------------------------- 32.9/124.9 MB 7.9 MB/s eta 0:00:12
   ---------- ----------------------------- 33.4/124.9 MB 8.0 MB/s eta 0:00:12
   ---------- ----------------------------- 33.8/124.9 MB 8.2 MB/s eta 0:00:12
   ---------- ----------------------------- 34.2/124.9 MB 8.2 MB/s eta 0:00:12
   ----------- ---------------------------- 34.7/124.9 MB 8.2 MB/s eta 0:00:12
   ----------- ---------------------------- 35.1/124.9 MB 8.3 MB/s eta 0:00:11
   ----------- ---------------------------- 35.5/124.9 MB 8.2 MB/s eta 0:00:11
   ----------- ---------------------------- 35.9/124.9 MB 8.3 MB/s eta 0:00:11
   ----------- ---------------------------- 36.3/124.9 MB 8.3 MB/s eta 0:00:11
   ----------- ---------------------------- 36.7/124.9 MB 8.3 MB/s eta 0:00:11
   ----------- ---------------------------- 37.0/124.9 MB 8.3 MB/s eta 0:00:11
   ----------- ---------------------------- 37.3/124.9 MB 8.2 MB/s eta 0:00:11
   ------------ --------------------------- 37.6/124.9 MB 8.3 MB/s eta 0:00:11
   ------------ --------------------------- 38.0/124.9 MB 8.1 MB/s eta 0:00:11
   ------------ --------------------------- 38.3/124.9 MB 8.2 MB/s eta 0:00:11
   ------------ --------------------------- 38.7/124.9 MB 8.1 MB/s eta 0:00:11
   ------------ --------------------------- 39.1/124.9 MB 8.2 MB/s eta 0:00:11
   ------------ --------------------------- 39.5/124.9 MB 8.2 MB/s eta 0:00:11
   ------------ --------------------------- 39.9/124.9 MB 8.2 MB/s eta 0:00:11
   ------------ --------------------------- 40.2/124.9 MB 8.1 MB/s eta 0:00:11
   ------------ --------------------------- 40.5/124.9 MB 8.3 MB/s eta 0:00:11
   ------------- -------------------------- 40.7/124.9 MB 8.1 MB/s eta 0:00:11
   ------------- -------------------------- 41.0/124.9 MB 8.0 MB/s eta 0:00:11
   ------------- -------------------------- 41.1/124.9 MB 7.8 MB/s eta 0:00:11
   ------------- -------------------------- 41.2/124.9 MB 7.7 MB/s eta 0:00:11
   ------------- -------------------------- 41.4/124.9 MB 7.4 MB/s eta 0:00:12
   ------------- -------------------------- 41.8/124.9 MB 7.4 MB/s eta 0:00:12
   ------------- -------------------------- 42.3/124.9 MB 7.4 MB/s eta 0:00:12
   ------------- -------------------------- 42.6/124.9 MB 7.5 MB/s eta 0:00:11
   ------------- -------------------------- 43.0/124.9 MB 7.5 MB/s eta 0:00:11
   ------------- -------------------------- 43.4/124.9 MB 7.5 MB/s eta 0:00:11
   -------------- ------------------------- 43.7/124.9 MB 7.4 MB/s eta 0:00:11
   -------------- ------------------------- 44.1/124.9 MB 7.4 MB/s eta 0:00:11
   -------------- ------------------------- 44.4/124.9 MB 7.4 MB/s eta 0:00:11
   -------------- ------------------------- 44.7/124.9 MB 7.3 MB/s eta 0:00:12
   -------------- ------------------------- 44.9/124.9 MB 7.1 MB/s eta 0:00:12
   -------------- ------------------------- 45.2/124.9 MB 7.0 MB/s eta 0:00:12
   -------------- ------------------------- 45.4/124.9 MB 7.0 MB/s eta 0:00:12
   -------------- ------------------------- 45.7/124.9 MB 6.9 MB/s eta 0:00:12
   -------------- ------------------------- 46.0/124.9 MB 6.8 MB/s eta 0:00:12
   -------------- ------------------------- 46.4/124.9 MB 6.8 MB/s eta 0:00:12
   -------------- ------------------------- 46.7/124.9 MB 6.8 MB/s eta 0:00:12
   --------------- ------------------------ 47.0/124.9 MB 6.7 MB/s eta 0:00:12
   --------------- ------------------------ 47.4/124.9 MB 6.7 MB/s eta 0:00:12
   --------------- ------------------------ 47.6/124.9 MB 6.8 MB/s eta 0:00:12
   --------------- ------------------------ 48.0/124.9 MB 6.8 MB/s eta 0:00:12
   --------------- ------------------------ 48.3/124.9 MB 6.7 MB/s eta 0:00:12
   --------------- ------------------------ 48.6/124.9 MB 6.7 MB/s eta 0:00:12
   --------------- ------------------------ 48.9/124.9 MB 6.6 MB/s eta 0:00:12
   --------------- ------------------------ 49.2/124.9 MB 6.6 MB/s eta 0:00:12
   --------------- ------------------------ 49.5/124.9 MB 6.6 MB/s eta 0:00:12
   --------------- ------------------------ 49.8/124.9 MB 6.5 MB/s eta 0:00:12
   ---------------- ----------------------- 50.1/124.9 MB 6.5 MB/s eta 0:00:12
   ---------------- ----------------------- 50.4/124.9 MB 6.5 MB/s eta 0:00:12
   ---------------- ----------------------- 50.7/124.9 MB 6.5 MB/s eta 0:00:12
   ---------------- ----------------------- 51.0/124.9 MB 6.5 MB/s eta 0:00:12
   ---------------- ----------------------- 51.3/124.9 MB 6.7 MB/s eta 0:00:12
   ---------------- ----------------------- 51.6/124.9 MB 6.9 MB/s eta 0:00:11
   ---------------- ----------------------- 51.8/124.9 MB 6.8 MB/s eta 0:00:11
   ---------------- ----------------------- 52.2/124.9 MB 6.8 MB/s eta 0:00:11
   ---------------- ----------------------- 52.5/124.9 MB 6.7 MB/s eta 0:00:11
   ---------------- ----------------------- 52.8/124.9 MB 6.7 MB/s eta 0:00:11
   ---------------- ----------------------- 53.1/124.9 MB 6.6 MB/s eta 0:00:11
   ----------------- ---------------------- 53.5/124.9 MB 6.6 MB/s eta 0:00:11
   ----------------- ---------------------- 53.7/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 54.0/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 54.1/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 54.1/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 54.1/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 55.2/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 55.5/124.9 MB 6.5 MB/s eta 0:00:11
   ----------------- ---------------------- 55.7/124.9 MB 6.6 MB/s eta 0:00:11
   ----------------- ---------------------- 56.1/124.9 MB 6.5 MB/s eta 0:00:11
   ------------------ --------------------- 56.4/124.9 MB 6.6 MB/s eta 0:00:11
   ------------------ --------------------- 56.7/124.9 MB 6.5 MB/s eta 0:00:11
   ------------------ --------------------- 57.0/124.9 MB 6.5 MB/s eta 0:00:11
   ------------------ --------------------- 57.1/124.9 MB 6.4 MB/s eta 0:00:11
   ------------------ --------------------- 57.2/124.9 MB 6.3 MB/s eta 0:00:11
   ------------------ --------------------- 57.4/124.9 MB 6.2 MB/s eta 0:00:11
   ------------------ --------------------- 57.8/124.9 MB 6.2 MB/s eta 0:00:11
   ------------------ --------------------- 58.0/124.9 MB 6.2 MB/s eta 0:00:11
   ------------------ --------------------- 58.3/124.9 MB 6.2 MB/s eta 0:00:11
   ------------------ --------------------- 58.6/124.9 MB 6.2 MB/s eta 0:00:11
   ------------------ --------------------- 59.0/124.9 MB 6.2 MB/s eta 0:00:11
   ------------------ --------------------- 59.3/124.9 MB 6.2 MB/s eta 0:00:11
   ------------------- -------------------- 59.6/124.9 MB 6.2 MB/s eta 0:00:11
   ------------------- -------------------- 59.9/124.9 MB 6.3 MB/s eta 0:00:11
   ------------------- -------------------- 60.2/124.9 MB 6.2 MB/s eta 0:00:11
   ------------------- -------------------- 60.6/124.9 MB 6.3 MB/s eta 0:00:11
   ------------------- -------------------- 61.0/124.9 MB 6.3 MB/s eta 0:00:11
   ------------------- -------------------- 61.3/124.9 MB 6.3 MB/s eta 0:00:11
   ------------------- -------------------- 61.6/124.9 MB 6.2 MB/s eta 0:00:11
   ------------------- -------------------- 61.9/124.9 MB 6.4 MB/s eta 0:00:10
   ------------------- -------------------- 62.2/124.9 MB 6.3 MB/s eta 0:00:10
   -------------------- ------------------- 62.6/124.9 MB 6.3 MB/s eta 0:00:10
   -------------------- ------------------- 62.9/124.9 MB 6.3 MB/s eta 0:00:10
   -------------------- ------------------- 63.2/124.9 MB 6.4 MB/s eta 0:00:10
   -------------------- ------------------- 63.4/124.9 MB 6.3 MB/s eta 0:00:10
   -------------------- ------------------- 63.8/124.9 MB 6.3 MB/s eta 0:00:10
   -------------------- ------------------- 64.1/124.9 MB 6.4 MB/s eta 0:00:10
   -------------------- ------------------- 64.5/124.9 MB 6.8 MB/s eta 0:00:09
   -------------------- ------------------- 64.8/124.9 MB 6.6 MB/s eta 0:00:10
   -------------------- ------------------- 65.0/124.9 MB 6.5 MB/s eta 0:00:10
   -------------------- ------------------- 65.4/124.9 MB 6.4 MB/s eta 0:00:10
   --------------------- ------------------ 65.7/124.9 MB 6.4 MB/s eta 0:00:10
   --------------------- ------------------ 66.0/124.9 MB 6.4 MB/s eta 0:00:10
   --------------------- ------------------ 66.3/124.9 MB 6.5 MB/s eta 0:00:10
   --------------------- ------------------ 66.7/124.9 MB 6.5 MB/s eta 0:00:09
   --------------------- ------------------ 67.0/124.9 MB 6.5 MB/s eta 0:00:09
   --------------------- ------------------ 67.3/124.9 MB 6.6 MB/s eta 0:00:09
   --------------------- ------------------ 67.6/124.9 MB 6.8 MB/s eta 0:00:09
   --------------------- ------------------ 68.0/124.9 MB 6.8 MB/s eta 0:00:09
   --------------------- ------------------ 68.3/124.9 MB 6.9 MB/s eta 0:00:09
   --------------------- ------------------ 68.6/124.9 MB 7.0 MB/s eta 0:00:09
   ---------------------- ----------------- 68.9/124.9 MB 6.9 MB/s eta 0:00:09
   ---------------------- ----------------- 69.3/124.9 MB 7.0 MB/s eta 0:00:08
   ---------------------- ----------------- 69.5/124.9 MB 6.9 MB/s eta 0:00:09
   ---------------------- ----------------- 69.8/124.9 MB 6.9 MB/s eta 0:00:08
   ---------------------- ----------------- 70.2/124.9 MB 6.9 MB/s eta 0:00:08
   ---------------------- ----------------- 70.6/124.9 MB 6.9 MB/s eta 0:00:08
   ---------------------- ----------------- 71.0/124.9 MB 7.0 MB/s eta 0:00:08
   ---------------------- ----------------- 71.2/124.9 MB 7.0 MB/s eta 0:00:08
   ---------------------- ----------------- 71.7/124.9 MB 7.0 MB/s eta 0:00:08
   ----------------------- ---------------- 72.0/124.9 MB 7.0 MB/s eta 0:00:08
   ----------------------- ---------------- 72.4/124.9 MB 7.1 MB/s eta 0:00:08
   ----------------------- ---------------- 72.7/124.9 MB 7.1 MB/s eta 0:00:08
   ----------------------- ---------------- 73.1/124.9 MB 7.2 MB/s eta 0:00:08
   ----------------------- ---------------- 73.5/124.9 MB 7.3 MB/s eta 0:00:08
   ----------------------- ---------------- 73.8/124.9 MB 7.3 MB/s eta 0:00:08
   ----------------------- ---------------- 74.1/124.9 MB 7.3 MB/s eta 0:00:07
   ----------------------- ---------------- 74.3/124.9 MB 7.1 MB/s eta 0:00:08
   ----------------------- ---------------- 74.6/124.9 MB 7.0 MB/s eta 0:00:08
   ----------------------- ---------------- 74.9/124.9 MB 7.1 MB/s eta 0:00:08
   ------------------------ --------------- 75.3/124.9 MB 7.2 MB/s eta 0:00:07
   ------------------------ --------------- 75.7/124.9 MB 7.3 MB/s eta 0:00:07
   ------------------------ --------------- 76.0/124.9 MB 7.3 MB/s eta 0:00:07
   ------------------------ --------------- 76.3/124.9 MB 7.2 MB/s eta 0:00:07
   ------------------------ --------------- 76.6/124.9 MB 7.2 MB/s eta 0:00:07
   ------------------------ --------------- 77.0/124.9 MB 7.3 MB/s eta 0:00:07
   ------------------------ --------------- 77.2/124.9 MB 7.2 MB/s eta 0:00:07
   ------------------------ --------------- 77.3/124.9 MB 7.2 MB/s eta 0:00:07
   ------------------------ --------------- 77.3/124.9 MB 7.2 MB/s eta 0:00:07
   ------------------------ --------------- 77.3/124.9 MB 7.2 MB/s eta 0:00:07
   ------------------------ --------------- 77.3/124.9 MB 7.2 MB/s eta 0:00:07
   ------------------------- -------------- 78.2/124.9 MB 6.7 MB/s eta 0:00:07
   ------------------------- -------------- 78.5/124.9 MB 6.7 MB/s eta 0:00:07
   ------------------------- -------------- 78.8/124.9 MB 6.7 MB/s eta 0:00:07
   ------------------------- -------------- 79.1/124.9 MB 6.7 MB/s eta 0:00:07
   ------------------------- -------------- 79.5/124.9 MB 6.7 MB/s eta 0:00:07
   ------------------------- -------------- 79.8/124.9 MB 6.7 MB/s eta 0:00:07
   ------------------------- -------------- 80.0/124.9 MB 6.7 MB/s eta 0:00:07
   ------------------------- -------------- 80.4/124.9 MB 6.7 MB/s eta 0:00:07
   ------------------------- -------------- 80.7/124.9 MB 6.7 MB/s eta 0:00:07
   ------------------------- -------------- 81.1/124.9 MB 6.7 MB/s eta 0:00:07

In [89]:
transformer=ColumnTransformer([('transformer',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])],remainder='passthrough')

In [90]:
pipe=Pipeline(steps=[('step1',transformer),('step2',StandardScaler()),('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,
                                                                                      max_depth=12,random_state=1))])

In [91]:
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)

In [92]:
r2_score(y_test,y_pred)

0.9885729820821545

In [93]:
mean_absolute_error(y_test,y_pred)

1.5902961128219002

In [96]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))